<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @restaurant.name  %></h2>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>
    </div>
  </div>
  <p><%= link_to "Review this Restaurant", new_restaurant_review_path(@restaurant), class: "btn btn-dark m-1" %></p>
  <p><%= link_to "Restaurants", restaurants_path, class: "btn btn-dark m-1"  %></p>
</div>

<% @restaurant.reviews.each do |review| %>
  <div class="card-product m-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Anonymous</h2>
      <p><%="Rating: #{review.rating} Stars" %></p>
      <p><%= review.content %></p>
    </div>
  </div>
<% end %>
